@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #04347c;
  --second-bg-color:#ecf0ed;
  --text-color: #ffffffff;
  --main-color: rgba(2, 233, 249, 0.97);
}

html {
  font-size: 72.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

p {
  font-size: 50px;
  line-height: 1.7;
}

.header {
   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding:9px;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding-left: 100px;
  padding-right: 100px;
}
.logo{
  width: 80px;
  height: 80px;
  border-radius:20px;
  
  

}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: default;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  opacity: 0;
  transition: 0.3s;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

@media only screen and (min-width: 768px) {
  .navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    opacity: 0;
    transition: 0.3s;
    animation: slideTop 0.5s ease forwards;
    animation-delay: calc(0.2s * var(--i));
  }
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.header i {
  cursor: pointer;
}



/*-----------------home-content---------------*/
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-img img {
  width: 35vw;
  position: relative;
  max-width: 450px;
  border-radius: 13%;
  margin-right: 50px;
  box-shadow:  0 0 19rem var(--main-color);
  border: 20px solid rgba(2, 233, 249, 0.97);
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY();
    }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.home-content p {
  font-size: 1.6rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}


.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.btn:hover {
  box-shadow: none;
}

/*-----------------about-content---------------*/

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--bg-color);
}

.about-img img {
  width: 35vw;
  position: relative;
  max-width: 450px;
  border-radius: 10%;
  margin-right: 50px;
  border: 15px solid #0ef;
  box-shadow: 0 0 9rem var(--main-color);
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
  text-align: center;
}

.about-content p {
  font-size: 15px;
  margin: 2rem 0 3rem;
  text-align: justify;
}

/*-----------------SERVICES-CONTENT---------------*/

.services h2 {
  margin-bottom: 5rem;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-container .services-box {
  flex: 1 1 30rem;
  background:rgba(35, 126, 133, 0.97);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
}

.services-container .services-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.services-box i {
  font-size: 7rem;
  color: var(--main-color);
}

.services-box h3 {
  font-size: 2.6rem;
}

.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

/*-----------------PORTFOLIO-CONTENT---------------*/

.offf{
  display: flex;
  gap: 50px;
  padding-bottom:100px;
 

}

.art{
  width: 300px;
  height:300px;
  padding-top: 10%;

}
.arts{
  width: 500px;
  height: 250px;
}

.portfolio {
  background: var(--bg-color);
}

.portfolio h2 {
  margin-bottom: 4rem;
}

.portfolio-container .portfolio-box {
  position: relative;
  overflow: hidden;
  display: flex;
}

.portfolio-layer h4 {
  font-size: 200%;
}



/*-----------------CONTACT-CONTENT---------------*/

.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var( rgba(0, 0, 0, 0.2));
  background: var(--second-bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

/*-----------------FOOTER-CONTENT---------------*/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: rgba(0, 238, 255, 0.615);
  border-radius: 0.8rem;
  transition: 0.5s ease;
  z-index: 100;
  position: fixed;
  bottom: 2%;
  right: 2%;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}

.footer-text {
  width: 100%;
  text-align: center;
  padding: 0;
  font-weight: 300;
  color :rgba(5, 5, 5, 0.97)
}

/*---------------------BREAKPOINTS------------------*/

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .portfolio {
        padding-bottom: 7rem;

    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 39%;
        padding: 1rem 3%;
        background: #1f242dc6;
        border-top: .1rem  rgba(0, 0, 0, .2);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .2);
        border-radius: 0 0 5% 5% ;
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        text-align: center;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about-img img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}


@media (max-width: 365px) {
    .home-img img {
        width: 80vw;
        border: 13px solid rgba(2, 233, 249, 0.97);
    }

    .about-img img {
        width: 80vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar {
        width: 45%;
    }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


/* --------------  PORTFOLIO 1 SECTION CSS ------------------*/
.port1 {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
@media only screen and (max-width: 500px) {
  .port1{
    display: none;
  }
}
.container1 {
  width: 100%;
  height: 500px;
  padding: 75px 90px;
}

.heading1 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
  font-size: 25px;
}

.bar {
  font-size: 23px;
}

.Technical-bars {
  align-self: center;
}

.Technical-bars .bar {
  margin-top: 40px 0;
}

.Technical-bars .bar:first-child {
  margin-top: 0;
}

.Technical-bars .bar:last-child {
  margin-bottom: 0;
}

.Technical-bars .bar .info {
  margin-bottom: 3px;
}

.Technical-bars .bar .info span {
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}

.Technical-bars .bar .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #000000;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.Technical-bars .bar .progress-line span {
  height: 100%;
  background-color: #0ef;
  position: absolute;
  border-radius: 10px;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

.progress-line.html span {
  width: 90%;
}

.progress-line.css span {
  width: 70%;
}

.progress-line.javascript span {
  width: 50%;
}

.progress-line.wordpress span {
  width: 85%;
}

.progress-line.corelDRAW span {
  width: 95%;
}

.progress-line.react span {
  width: 70%;
}

.progress-line span::after {
  position: absolute;
  padding: 1px 8px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  top: -20px;
  right: -20px;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}

.progress-line.html span::after {
  content: "90%";
}

.progress-line.css span::after {
  content: "70%";
}

.progress-line.javascript ::after {
  content: "50%";
}

.progress-line.wordpress span::after {
  content: "85%";
}

.progress-line.corelDRAW span::after {
  content: "95%";
}

.progress-line.react span::after {
  content: "70%";
}

.progress-line span::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  top: -10px;
  right: 0;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.radial-bars {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.radial-bars .radial-bar {
  width: 50%;
  height: 170px;
  margin-bottom: 10px;
  position: relative;
}

.radial-bars .radial-bar svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 120px;
  height: 160px;
}

.radial-bars .radial-bar .progress-bar {
  stroke-width: 10;
  stop-color: #000;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
  animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
  100% {
    stroke-dashoffset: -1;
  }
}

.path {
  stroke-width: 10;
  stroke: #0ef;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
}

.path-1 {
  animation: animate-path1 1s 1s linear forwards;
}

.path-2 {
  animation: animate-path2 1s 1s linear forwards;
}

.path-3 {
  animation: animate-path3 1s 1s linear forwards;
}

.path-4 {
  animation: animate-path4 1s 1s linear forwards;
}

@keyframes animate-path1 {
  100% {
    stroke-dashoffset: 50;
  }
}

@keyframes animate-path2 {
  100% {
    stroke-dashoffset: 90;
  }
}

@keyframes animate-path3 {
  100% {
    stroke-dashoffset: 125;
  }
}

@keyframes animate-path4 {
  100% {
    stroke-dashoffset: 90;
  }
}

.radial-bar .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}

.radial-bar .texti {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50px);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}

@media only screen and (min-width: 1306px) {
  .container1 {
    width: 40%;
    height: 500px;
    padding: 75px 90px;
    margin-left: 95px;
  }
}

@media only screen and (max-width: 1305px) {
  .heading1{
    margin-bottom: -15px;
  }

  .radial-bars{
    margin-top: -15px;
  }
}

.boys{
  width: 398px;
  border-radius: 10px;
  font-size: 1.6rem;
  height:58px;
  margin-top: 8px;
  color:#1f242dc6 ;
  background-color: #eeecec;
}